.container1 {
  display: grid;
  margin-top: 150px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  justify-content: space-between;
  position: relative;
  color: white;
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
}

  .container1 .musicplayer {
    margin: 5px;
    background: rgba(0,0,0,0.5);
    grid-area: 1/1/3/-7;
    opacity:0.8;
    border: 2px inset rgba(0,0,0,0.5);
  }
  .container1 .covers {
    background:rgba(0,0,0,0.5);
    background-size: cover;
    background-attachment: fixed;
    grid-area: 1/7/5/4;
    background: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    border: 4px inset rgba(0,0,0,0.5);
    border-left: none;
    border-right: none;
    /* opacity: 0.5 */
}
  
  .container1 .geolocation {
    background: rgba(0,0,0,0.5);
    margin: 5px;
    grid-area: 1/10/3/8;
    opacity: 0.8;
    border: 2px inset rgba(0,0,0,0.5);
    /* design avec jauge, pulse effect on music, tableau de bord de moto, balayer la palette de couleur sur le sitre*/

  }
  .container1 .feature {
    background: #00adb5;
    margin: 5px;
  }

