.container1 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  justify-content: space-between;
  position: relative;
  color: white;
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
}

.container1 .musicplayer .player .player-control {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  margin-bottom: 4em;
}

.container1 .musicplayer .player-cover{
  display: none;
}

.container1 .playercover .player-control{
  display: none;
}

.container1 .musicplayer{
  grid-column-start: 2;
  grid-row-start: 1;
  margin: auto;
  width: 70%;
  height: 48%;
  margin-bottom: 5em;
}

.container1 .playercover{
  
  grid-column-start: 2;
  grid-row-start: 2;

}

.container1 .playercover .player .player-cover {
  width: 30em;
  height: 30em;
}


.container1 .geolocation {
  background: rgba(0, 0, 0, 0.0);
  grid-row-start: 3;
  grid-column-start: 2;
  margin: auto;
  padding: 1.5em;
  width: 60%;
  height: 38%;
  margin-bottom: 5em;
}

.container1 .feature {
  background: #00adb5;
}

.fa-refresh:before {
  color: white;
}

.fa-random:before {
  color: white;
}

.fa-rotate-right:before, .fa-repeat:before {
  color: white;
}

.fa-step-backward:before {
  color: white;
}

.fa-play:before {
  color: white;
}

.fa-pause:before {
  color: white;
}

.fa-step-forward:before {
  color: white;
}

.time-remaining {
  color: white;
}

.fa-step-forward:before {
  color: white;
}

.fa-step-forward:before {
  color: white;
}

.player .player-control .music-info .title {
  color: white;
  filter: drop-shadow(0 0 5px snow);
  text-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
}

.player .player-control .music-info .artist {
  color: white;
}

.fa-volume-up:before {
  color: white;
}

.player .player-cover {
  margin-left: 0;
}