.container1 {
    display: flex;
    flex-flow: row wrap;
    background-color:black;
  }
  .container1 * {
    flex: 1 100%;
    margin: 10px;
    height: 150px;
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .container1 .menu {
    height: 50px;
    background: #ccc1ff;
  }
  .container1 .post {
    background: #2196F3;
    flex: 1 0;
    height: 800px;
    background-size: contain;
  }
  .container1 .sidebar {
    /* flex: 1 0; */
    background:#ffeafe;
    height: 80 vw;
  }
  .container1 .footer {
    background:#ccc1ff;
    height: 50px;
  }

