.container {
    background:black;
   
  }
  .container * {
     flex:  100%;
    margin: 10px;
    height: 100%; 
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .container .menu {
    background: coral;
    margin-top:18vh;
    height: 20vh;
    margin-left: 42%;
    margin-right: 42%;
    border-radius: 25px;
  }
  .container .post {
    background: #2196F3;
    height: 20vh;
    border-radius: 25px;
    margin: 4%;
  }
  .pic {
    display: flex;
  }
  .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .picWeather {
    background:grey;
    height: 5vh;
    padding: 18vw;
    border-radius: 15px;
  }
  .container .sidebar {
    background: orange;
    height: 20vh;
    margin: 4%;
    
    border-radius: 25px;
  }
  .playlistWeather {
    height: 20vh;
    background: brown;
    margin-left: 42%;
    margin-right: 42%;
    border-radius: 25px;
    
  }
  /* .container .footer {
    background: navy;
    height: 50px;
    margin-top: 20vh;
  } */