

.container {
    justify-content: center;
    width: 100%;
    background-color: azure;
    display: flex;
    padding: 20px;
    border-radius: 11px;
    min-height: 40vh;
}
/* .container {
    background:black;
   
  }
  .container * {
     flex:  100%;
    margin: 10px;
    height: 100%; 
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .container .play1 {
    background: coral;
    margin-top:18vh;
    height: 20vh;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 16px;
  }
  .container .post {
    background: #2196F3;
    height: 20vh;
    border-radius: 16px;
    margin: 4%;
  }
  .pic {
    display: flex;
  }
  .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .picWeather {
    background:grey;
    height: 5vh;
    padding: 27vw;
    border-radius: 2px;
  }
  .container .sidebar {
    background: orange;
    height: 20vh;
    margin: 4%;
    
    border-radius: 16px;
  }
  .playlistWeather {
    height: 20vh;
    background: brown;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 16px;
    
  } */
  /* .container .footer {
    background: navy;
    height: 50px;
    margin-top: 20vh;
  } */

  .left {
    
  }

  .right {

  }

  .bottom {
    background: navy;
    height: 50px;
    margin-top: 20vh;
    color: white;
    margin-left: 45%;
    margin-right: 45%;
  }

  .top {

  }
